{% load static %}

<html>
	<title>Return page</title>

	<head>

	</head>

	<body>
		<h3>Return URL Requirements by Paypal</h3>
		<p>
			The following items are required to set up Auto Return:
		</p>
        <ul>
			<li>Per the user agreement, you must provide verbiage on the page displayed by the Return URL that will help the buyer understand that the payment has been made and that the transaction has been completed.</li>

			<li>You must provide verbiage on the page displayed by the Return URL that explains that payment transaction details will be emailed to the buyer.</li>

			<li>Example: Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. You may log into your account at www.paypal.com to view details of this transaction.</li>

		</ul>
		
	</body>
</html>